body{

}
img{
    width:400px;
    height: 50%;
    border-radius: 10px;
}
.box1{
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    width: 70%;
    height: 70%;
}
.name{
    align-items: center;
    font-weight: bold;
}
h3{
    text-decoration: underline;
}